<!DOCTYPE html PUBLIC "-//W3C//DTDHTML4.0Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
	<head>

		<title>YouTube - Broadcast Yourself.</title>

		<link rel="stylesheet" type="text/css" href="yts/cssbin/styles.css">
		<link rel="icon" href="yts/imgbin/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="yts/imgbin/favicon.ico" type="image/x-icon">

		<link rel="alternate" type="application/rss+xml" title="YouTube - Recently Added Videos [RSS]" href="http://www.youtube.com/rss/global/recently_added.rss">

		<meta name="description" content="Share your videos with friends and family">
		<meta name="keywords" content="video,sharing,camera phone,video phone">

	</head>

	<body>
		<table width="800" cellspacing="0" cellpadding="0" border="0" align="center">
			<tbody>
				<tr>
					<td style="padding-bottom: 25px;" bgcolor="#FFFFFF">
						{% include("header.twig") %}
					</td>
				</tr>
				{% block pageContent %}{% endblock %}
			</tbody>
		</table>
		{% include("footer.twig") %}
	</body>
</html>
