{% extends "base.html.twig" %}
{% block pageContent %}
	<div style="color: #333; margin-bottom: 10px;">Related Tags:

		<a href="results.php?search=crazy">crazy</a>
		<a href="results.php?search=is">is</a>
		<a href="results.php?search=YOUTUBE">YOUTUBE</a>
		<a href="results.php?search=catsta">catsta</a>
		<a href="results.php?search=victim">victim</a>
		<a href="results.php?search=catlin">catlin</a>
		<a href="results.php?search=technology">technology</a>
		<a href="results.php?search=callforhelp">callforhelp</a>
		<a href="results.php?search=what">what</a>
		<a href="results.php?search=tube">tube</a>
		<a href="results.php?search=winner">winner</a>
		<a href="results.php?search=YouTube">YouTube</a>
		<a href="results.php?search=hotornot">hotornot</a>
		<a href="results.php?search=plugged">plugged</a>
		<a href="results.php?search=experiment">experiment</a>
		<a href="results.php?search=FAN">FAN</a>
		<a href="results.php?search=party">party</a>
		<a href="results.php?search=cool">cool</a>
		<a href="results.php?search=friend">friend</a>
		<a href="results.php?search=trippy">trippy</a>
		<a href="results.php?search=fun">fun</a>
		<a href="results.php?search=euterpe">euterpe</a>
		<a href="results.php?search=sexy">sexy</a>
		<a href="results.php?search=editing">editing</a>
		<a href="results.php?search=the">the</a>
		<a href="results.php?search=psychedelic">psychedelic</a>
		<a href="results.php?search=massier">massier</a>
		<a href="results.php?search=on">on</a>
		<a href="results.php?search=television">television</a>
		<a href="results.php?search=youtube">youtube</a>
		<a href="results.php?search=professorsmile">professorsmile</a>
		<a href="results.php?search=ADDICTED">ADDICTED</a>
		<a href="results.php?search=Japan">Japan</a>
		<a href="results.php?search=YES">YES</a>
		<a href="results.php?search=ambermacarthur">ambermacarthur</a>
		<a href="results.php?search=radio">radio</a>

	</div>

	<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#CCCCCC" align="center">
		<tbody>
			<tr>
				<td><img src="yts/imgbin/box_login_tl.gif" width="5" height="5"></td>
				<td width="100%"><img src="yts/imgbin/pixel.gif" width="1" height="5"></td>
				<td><img src="yts/imgbin/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="yts/imgbin/pixel.gif" width="5" height="1"></td>
				<td>
					Please enter a search query
					<!-- begin paging -->
					<div style="font-size: 13px; font-weight: bold; color: #444; text-align: right; padding: 5px 0px 5px 0px;">
						Results Page:
						<span style="color: #444; background-color: #FFFFFF; padding: 1px 4px 1px 4px; border: 1px solid #999; margin-right: 5px;">1</span>
					</div>
					<!-- end paging -->


				</td>
				<td><img src="yts/imgbin/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="yts/imgbin/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="yts/imgbin/pixel.gif" width="1" height="5"></td>
				<td><img src="yts/imgbin/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody>
	</table>
</td></tr></tbody></table>{% endblock %}
