{% extends "base.html.twig" %}
{% block pageContent %}
	<div style="padding: 0px 5px 0px 5px;">
		<div class="tableSubTitle">Privacy Policy</div>
		<p>Users of the frontend is subject to the privacy policies declared in this document.</p>
		<h4>Cookies</h4>
		<p>This site does not use any cookies.</p>
		<h4>Data we collect</h4>
		<p>We do not collect any form of data from the end user that can be used for malicious purposes or used as a "fingerprint" to identify users.</p>
		<h4>Content loaded from other sites</h4>
		<p>This site loads video content from googlevideo.com. Usage of the watch page is subject to googlevideo's terms and conditions.</p>
	</div>
{% endblock %}
